---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
const email = "berna.agua@protonmail.com";

const longIntro =
  "Experienced backend developer and cloud architect. A proactive team member dedicated to continuous learning, problem-solving, and aiding teammates in achieving quicker outcomes.";
const shortIntroLines = ["Hi, I'm Bernardo."];
const tech = [
  "React",
  "Next.js",
  "Node.js",
  "MongoDB",
  "Heroku",
  "RabbitMQ",
  "Express.js",
  "TypeScript",
  "NestJS",
  "Angular",
  "Postgres",
  "Linode",
];
---

<!doctype html>
<html>
  <Header title="Bernardo Borda d'Ãgua" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>
                {shortIntroLines[0]}
                <br />
                {shortIntroLines[1]}
              </h1>
              <p class="lead">
                {longIntro}
              </p>
            </div>
            <a href={`mailto:${email}`} class="button w-button">Contact</a>
            <a
              target="_blank"
              href={"https://www.linkedin.com/in/bernardo-agua/"}
              class="button w-button">LinkedIn</a
            >
            <a
              target="_blank"
              href={"https://github.com/Zizico2"}
              class="button w-button">GitHub</a
            >
          </main>
          <div class="projects-section">
            <!-- Professional Experience -->
            <a href="/professional-experience" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container">
                  <img
                    src="./assets/browser.svg"
                    loading="lazy"
                    alt=""
                    class="projects-category-image"
                  />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Professional Experience</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">
                    Technologies &amp; tools
                  </div>
                  <div class="chips-container chips-container-small-width">
                    {
                      tech.map((techItem) => (
                        <div class="single-chip small-chip">{techItem}</div>
                      ))
                    }
                  </div>
                </div>
              </div>
            </a>
            <!-- Personal Projects & Cloud -->
            <a href="/devops" class="projects-container">
              <div class="single-projects-category">
                <div class="projects-category-image-container devops-img">
                  <img
                    src="./assets/database.svg"
                    loading="lazy"
                    alt=""
                    class="projects-category-image"
                  />
                </div>
              </div>
              <div class="single-projects-content">
                <h4>Personal Projects &amp;&nbsp;Cloud</h4>
                <div class="tech-tools-container">
                  <div class="mini-label-white gray-color">
                    Technologies &amp; tools
                  </div>
                  <div class="chips-container chips-container-small-width">
                    <div class="single-chip small-chip">Terraform</div>
                    <div class="single-chip small-chip">Azure</div>
                    <div class="single-chip small-chip">AWS</div>
                    <div class="single-chip small-chip">Docker</div>
                    <div class="single-chip small-chip">Kubernetes</div>
                    <div class="single-chip small-chip">GitLab CI/CD</div>
                    <div class="single-chip small-chip">RKE</div>
                    <div class="single-chip small-chip">Node.js</div>
                    <div class="single-chip small-chip">RabbitMQ</div>
                    <div class="single-chip small-chip">Linux</div>
                    <div class="single-chip small-chip">Bash</div>
                    <div class="single-chip small-chip">Grafana</div>
                    <div class="single-chip small-chip">Prometheus</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
