---
import { format } from "date-fns";
import { dateFormat } from "../scripts/constants";
export interface Props {
  title: string;
  desc: string[];
  tech: string[];
  period?: Period | undefined;
  links?: Link[] | undefined;
}

export interface Period {
  startDate: Date;
  endDate?: Date;
}

export interface Link {
  text: string;
  link: string;
}

const { title, desc, tech, period, links } = Astro.props;
const formattedDates = period
  ? {
      startDate: format(period.startDate, dateFormat),
      endDate: period.endDate ? format(period.endDate, dateFormat) : "Present",
    }
  : null;
---

<div class="single-item">
  <h3>{title}</h3>
  {
    formattedDates && (
      <p>{formattedDates.startDate} - {formattedDates.endDate}</p>
    )
  }
  <div class="project-desc project-desc-list w-richtext">
    <ul role="list">
      {desc.map((item) => <li>{item}</li>)}
    </ul>
  </div>
  {
    links && (
      <div class="project-links-container">
        {links.map((link) => (
          <a
            href={link.link}
            target="_blank"
            class="button w-button"
          >
            {link.text}
          </a>
        ))}
      </div>
    )
  }
  <div class="mini-label-white">Technologies &amp; tools</div>
  <div class="chips-container">
    {tech.map((techItem) => <div class="single-chip">{techItem}</div>)}
  </div>
</div>
